*{
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #be1e2d ;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #082b47;
    color: white;
  }